# Compiler/linker output.
#
*.o
*.o.d
*.so
*.a
*.l
*.l.cpp-options

# Generated documentation.
#
*.pdf
*.ps

# Generated build system files.
#
*-dynamic.make
build/db.options
build/db-driver

# Generated .gitignore files.
#
.gitignore
